# Logs
logs

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Error log from yarn
yarn-error.log

# Package lock - use yarn pls
package-lock.json

# IDE
.idea
.remote-sync.json
.vscode

# Log and Sentry
*.log
*.sentry

# App config
app/config.js
nginx.conf

# App etc
gulp

# Cache Directory
app/cache

# Web Directory
www

# Application bundles
app/bundles

# Redis
*.rdb

# Temp
tmp
